body{
  background-color: rgb(138, 125, 125);

}

.block{
  /* background-color: rgb(195, 195, 195); */
  
  border-radius:10px;
}
.profile{
  background-color: pink;
  
  border-radius:10px;
}


.pinkbg{
background-color: pink;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.feedback {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#mybutton {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.l_block{
  height: 80vh;
}


