html,body{
    height: calc(100% - 1px);
    font-family: 'Concert One', cursive, 'Kanit';
    background-image: url("/pic/bg.png");
  }
 
  
  .table-block{
    width: 9vw;
    height: 9vw;
    color: rgb(255, 148, 166);
    font-size: 125px;
    font-weight: bold;
    line-height: 50px;
    border: solid 3px rgb(255, 255, 255);
    text-align: center;
  }
  .board{

    width: 80%;
    background-color:  rgba(244, 135, 153, 0.443);
    border-radius:20px ;
  }
  .bottom {
    position: absolute;
    bottom: 0%;

  }
  .user-block{
    color: white;
    background-color: rgb(255, 148, 166);
    border-radius:0px 0px 20px 20px;

    width: 40%;
    height: 7vh;
    text-align: center;
  }
  .user-block-btm{
    color: white;
    background-color: rgb(255, 148, 166);
    border-radius:20px 20px 0px 0px;

    width: 40%;
    height: 7vh;
    text-align: center;
  }

  .timer{
    color: rgb(143, 17, 88);
    border-radius:5px ;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
  }
  
 
  .specialfx{
    background-color: rgb(255, 148, 166);
    border-radius:20px ;
    width: 9vh;
    height: 9vh;
    font-size: 200%;

  }
  .specialfx:hover{
    transition: 0.3s;
  transform: scale(1.05);
  background-color: rgb(245, 122, 140);
  cursor: pointer;

  }
  .fxRow{
    justify-content: end;
    margin-right: 2%;

  }
  /* .modal-dialog{
    width: 800px;
  }
  .modal-content{
    width: 200%;
    height: 100%;
  } */
  #questionModal-time,#messageModal{
    color: rgb(143, 17, 88);
  }
  #questionModalLabel {
    color: rgb(143, 17, 88);
  }
  .modal-body h2{
    font-size: 170%;
    color: rgb(143, 17, 88);

  }
  #choice-con {
    display: flex;
    flex-direction: column;
  }
  .choice {
    flex: 1;
    background-color: rgba(247,172,185,255);
    border: none;
    color:rgba(54, 18, 24, 0.633);
  }
  .choice:hover{
    color: rgb(143, 17, 88);
    background-color: rgba(244, 135, 153, 0.344);
  }
  .disabled {
    background-color: rgb(230, 229, 229);
    cursor: not-allowed;
  }
  .modal-body{
    background-color: rgba(244, 135, 153, 0.443);
    border: none;
  }
  .modal-content{
    border: none;
  }
  .modal-header{
    border: none;
    background-color: rgba(247,172,185,255);
  }
  
  @media screen and (max-width: 750px) {
    .user-block{

      width: 80%;
      height: 7vh;

    }
    .user-block-btm{

      width: 80%;
      height: 7vh;

    }
    .board{

      width: 95%;
      height: 80%

    }

    .timer{
      color: rgb(143, 17, 88);
      font-weight: bold;
      border-radius:5px ;

      height: 50px;
      font-size: 200%;
    }
    .table-block{
      width: 20vw;
      height: 20vw;
      color: rgb(255, 148, 166);
      font-size: 125px;
      font-weight: bold;
      line-height: 50px;

      text-align: center;
      
    }
    .fxRow{
      justify-content: center;
      margin-right: 0%;
    }
  }

  
  @media screen and (max-width: 515px) {
    .user-block{

      width: 80%;
      height: 7vh;

    }
    .user-block-btm{

      width: 80%;
      height: 7vh;

    }
    .board{

      width: 95%;
      height: 80%

    }

    .timer{

      border-radius:5px ;

      height: 50px;
      font-size: 200%;
    }
    .table-block{
      width: 30vw;
      height: 30vw;
      color: rgb(255, 148, 166);
      font-size: 125px;
      font-weight: bold;
      line-height: 50px;
      border: solid 3px rgb(255, 255, 255);
      text-align: center;
      
    }
    .fxRow{
      justify-content: center;
      margin-right: 0%;
    }
  }
