body{
  background-image: url("\pic\bg.png");
  background-color: #cccccc;
}
.block{
  border-radius:10px;
}
.profile{
  background-color: rgba(244, 135, 153, 0.443);
  color: rgb(143, 17, 88);
  border-radius:10px;
}
.pStat{
  font-size: 5vw;
}
.statInfo{
  font-size: 3vw;
}
.menubtn{
  background-color: rgb(255, 148, 166);
  text-decoration: none;
  color: rgb(143, 17, 88);
  transition: 0.3s;
  transform: scale(1);
}
.menubtn:hover{
  transition: 0.3s;
  transform: scale(1.05);
  background-color: rgb(245, 122, 140);
  text-decoration: none;
  color: rgb(255, 252, 254);
  cursor: pointer;
}
.pinkbg{
background-color: pink;
}

.feedback {
  background-color :  rgb(255, 148, 166);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: rgb(255, 148, 166);
  
}
.feedback:hover{
  transition: 0.3s;
  background-color: rgb(245, 122, 140);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: rgb(255, 148, 166);
  cursor: pointer;
}
.feedback2 {
  background-color :  rgb(94, 207, 255);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: rgb(94, 207, 255);
  
}
.feedback2:hover{
  transition: 0.3s;
  background-color: rgb(60, 189, 244);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: rgb(60, 189, 244);
  cursor: pointer;
}
#mybutton {
  position: fixed;
  bottom: 30px;
  right: 50px;
}
#howtoplay {
  position: fixed;
  bottom: 30px;
  left: 50px;
  
}
.l_block{
  height: 70vh;
}
.r_block{
  height: auto;
}

.logoutBtn{
  background: rgb(255, 148, 166);
  border: none;
}

